*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 90px;
    float: left;
    background-color: #2B5738;
    display: block;
    margin-bottom: 50px;
}
header .um{
    display: flex;
    align-items: center;
    gap: 250px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
header .um img{
    width: 90px;
    height: 100px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
header .um h1{
    font-size: 50px;
    color: #f1eaea;
    margin-left: 20px;
    margin-top: 2px;
}
header .um h3{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 2px;
    color: #f1eaea;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header .um h3 a{
    color: #f1eaea;
    text-decoration: none;
}

main{
    width: 100%;
    height: auto;
    float: left;
    display: block;
}

main .sobre{
    width: 100%;
    height: auto;
    float: left;
    background-color: #2B5738;
    display: block;
    padding-top: 50px;
}

main .sobre img{
    display: block;
    width: 33%;
    height: 340px;
    float: left;
    margin-left: 50px;
    border-radius: 100px;
    border: 2px #181f1a;
    margin-bottom: 50px;
}

main .sobre p{
    color: #f5eaea;
    letter-spacing: 1.5px;
    text-align: justify;
    float: right;
    width: 50%;
    text-indent: 40px;
    margin-right: 50px;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main .vivi{
    width: 90%;
    height: 170px;
    display: block;
    float: left;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 15px;
    border-radius: 29px;
    background-color: #2B5738;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 5%;
}
main .vivi p{
    padding-left: 90px;
    padding-top: 15px;
    padding-bottom: 1px;
    color: #f5eaea;
    letter-spacing: 1.5px;
    text-align: justify;
    width: 80%;
    text-indent: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main .vivi h4{
    padding-top: 24px;
    color: #f5eaea;
    letter-spacing: 1.5px;
    text-align: justify;
    width: 24%;
    text-indent: 40px;
    float: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
main .vivi a{
    color: #f5eaea;
}