*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 90px;
    float: left;
    background-color: #2B5738;
    display: block;
    margin-bottom: 50px;
}
header .um{
    display: flex;
    align-items: center;
    gap: 250px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
header .um img{
    width: 90px;
    height: 100px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
header .um h1{
    font-size: 50px;
    color: #f1eaea;
    margin-left: 20px;
    margin-top: 2px;
}
header .um h3{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 2px;
    color: #f1eaea;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header .um h3 a{
    color: #f1eaea;
    text-decoration: none;
}

main{
    width: 100%;
    height: auto;
    float: left;
    display: block;
}

main .sobre{
    width: 100%;
    height: auto;
    float: left;
   
    background-image: url(https://ssl.gstatic.com/atari/images/simple-header-blended-small.png);

    background-color: #058d05;
    background-size: cover;
    display: block;
    padding-top: 50px;
}

main .sobre img{
    display: block;
    width: 33%;
    height: 340px;
    float: left;
    margin-left: 50px;
    border-radius: 100px;
    border: 5px #e2e7e4;
    margin-bottom: 50px;
}

main .sobre p{
    color: #f5eaea;
    letter-spacing: 1.5px;
    text-align: justify;
    float: right;
    width: 50%;
    text-indent: 40px;
    margin-right: 50px;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main .vivi{
    width: 90%;
    height: 170px;
    display: block;
    float: left;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 15px;
    border-radius: 29px;
    background-color: #2B5738;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 5%;
}
main .vivi p{
    padding-left: 90px;
    padding-top: 15px;
    padding-bottom: 1px;
    color: #f5eaea;
    letter-spacing: 1.5px;
    text-align: justify;
    width: 80%;
    text-indent: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main .vivi h4{
    padding-top: 24px;
    color: #f5eaea;
    letter-spacing: 1.5px;
    text-align: justify;
    width: 24%;
    text-indent: 40px;
    float: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
main .vivi a{
    color: #f5eaea;
}
main .cc{
    position: relative;
    max-width: 1200px;
    margin: 40px auto; /* meio da pagina */
    overflow: hidden; /* item pra fora */
    padding: 0 50px;
}
/* faixa dos itens para ficar os 10 itens lado a lado */
main .cc .cf{
    display: flex;
    transition: transform 0.3s ease-in-out; /* transição js */
    gap: 20px;
}
/* tem individual tamanho de cada bloco */
main .cc .cf .ci{
    flex: 0 0 auto;
    width: 250px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #2B5738;
}
main .cc .cf .ci a{
    color: #f1eaea;
}
/* ajustes da imagem*/
main .cc .cf .ci .item-imagem{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}
main .cc .cf .ci .item-link{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #f1eaea;
    text-decoration: none;
    font-size: 1.1em;
}
.item-link:hover {
    text-decoration: underline;
}
/* setas pro lado */
.carrossel-botao {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
    border-radius: 50%;
    outline: none;
    transition: background-color 0.2s;
}
.carrossel-botao:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.anterior {
    left: 10px;
}
.proximo {
    right: 10px;
}
footer{
    width: 100%;
    height: 100px;
    float: left;
    background-color: #2B5738;
    display: block;
}
footer .fim{
    display: flex;
    align-items: center;
    gap: 315px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
footer .fim p{
    width: 400px;
    height: 20px;
    font-size: 13px;
    margin-left: 60px;
    margin-top: 5px;
    color: #f1eaea;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer .fim #nd{
    text-align: right;
    font-size: 13px;
    margin-top: 40px;
    color: #f1eaea;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}